<!DOCTYPE html>
<html lang="en">

<head>
      <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/back/assets/css/styles.css">  
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <!-- partial:partials/_sidebar.html -->
       <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Dashboard</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                             {# <a class="nav-link" href="{{ path('dashboard') }}"> #}
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Actions</div>
                            <!-- Produit Ajouter Link -->
                           <a class="nav-link" href="{{ path('app_produit_ajouter') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-plus-square"></i></div>
                                Ajouter Produit
                            </a>
                            <!-- Categorie Ajouter Link -->
                            <a class="nav-link" href="{{ path('app_categorie_ajouter') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                                Ajouter Catégorie
                            </a>
                        </div>
                    </div>
                </nav>
                </div>
{% endblock %}
</body>
</html>